name: CI Java Pipeline

on:
  push:
    branches: 
      - main
      - 'feature/**' # Répond à la question 2.6 : déclenchement sur toutes les branches feature
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 2.2 : Installation de Java 8 et Build Maven
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package

      # 2.3 : Publication des résultats de tests unitaires
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: target/**/*.xml

      # 2.4 : Publication du fichier JAR compilé
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app-1.0
          path: target/*

      # 2.5 : Préparation et Build de l'image Docker
      - name: Install Docker
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
          
      - name: Docker build
        run: |
          docker build .
